@import '../../../Template/Color.scss';


.about-box{
    display: grid;
    grid-template-columns: repeate(2, 1fr);
    place-items: center;
    position: relative;

    @media screen and (max-width: 700px){
        grid-template-columns: 1fr;

    }

    .about-left{
        background: $tertiary;
        max-width: 350px;
        height: 350px;
        justify-self: center;
        border-radius: 5px;
        box-shadow: 0 0 20px $tertiary;

        @media screen and (max-width: 700px) {
        margin-top: -2rem;
        }

        img{
            border-radius: 2px;
            object-fit: cover;
            width: 100%;
            height: 100%;

            &:hover{
                transform: translateX(-45) translateY(-38);
                opacity: 1;
            }

        }
    }

    .about-right{
        color: $secondary;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 700px) {
            padding: 0;
            margin-top: 2rem;
        }

        p{
            font-size: 0.85rem;
            margin-bottom: 1rem;
            max-width: 450px;
        }

        .bio{
            display: flex;
            font-size: 0.85rem;            
            max-width: 200px;
            margin-bottom: 1rem;

            .bioKey{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-right: 3rem;
            }

            .bioValue{
                display: flex;
                align-items: start;
                flex-direction: column;
            }
        }

        a{
            text-align: center;
            text-decoration: none;
            color: $primary;
            background: $secondary;
            padding: 0.65rem;
            margin: 0 auto;
            border-radius: 10px;
            font-size: 0.85rem;
            text-transform: capitalize;
            width: 165px;
        }
    }
}