@import '../../../Template/Color.scss';

.select {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;

  button {
    color: $primary;
    background: $secondary;
    padding: 0.65rem 1rem;
    border-radius: 10px;
    font-size: 0.85rem;
    text-transform: capitalize;

    cursor: pointer;
    border: none;
    margin-top: 1rem;

    &.active {
      background: $tertiary;
      color: $secondary;
    }
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  row-gap: 4rem;

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .tools {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;

    align-items: center;

    svg {
      width: 100px;
      height: 100px;

      color: #fff;

      path {
        fill: #fff;
      }
    }

    p {
      opacity: 0;
      color: white;
      text-align: center;
      font-style: italic;
    }

    &:hover {
      svg {
        scale: 0.9;

        path {
          fill: #46E3C4;
        }
      }

      p {
        opacity: 1;
        scale: 1.2;
      }
    }

    @media screen and (max-width: 500px) {
      p{
        opacity: 1;
      }
    }
  }


}

.experiences {
  max-width: 500px;
  margin: 0 auto;
  color: $secondary;

  .experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    span {
      font-size: 1.75rem;
      padding-left: 2.5rem;

      @media screen and (max-width: 405px) {
        font-size: 1rem;
      }
    }

    .position {
      width: 300px;
      padding-left: 2.5rem;

      h3 {
        font-size: 1.1rem;

        @media screen and (max-width: 405px) {
          font-size: 0.85rem;
        }
      }

      p {
        font-size: 0.75rem;
        opacity: 0.6;

        @media screen and (max-width: 405px) {
          font-size: 0.65rem;
        }
      }
    }
  }
}

